@model Community_ASP.NET.ViewModel.UserAndSendersInfo

@{
    ViewData["Title"] = "Read Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Stuff to get: Users that have sent messages, totalt antal meddelanden, antal lästa meddelanden, antal borttagna meddelanden</p>
</div>


@if (TempData["sErrMsg"] != null || Model == null)
{
    <p style="color:red;">@TempData["sErrMsg"]</p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var item in Model.senders)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExtraInfo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SenderId)
                    </td>
                    <td>
                        <a asp-action="Messages" asp-route-id="@item.SenderId">View messages</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>Total messages: @Html.DisplayFor(model => model.user.TotalMessages)</p>
    <p>Read messages: @Html.DisplayFor(model => model.user.NrOfReadMessages)</p>
    <p>Deleted messages: @Html.DisplayFor(model => model.user.NrOfDeletedMessages)</p>
}

