@model IEnumerable<Community_ASP.NET.ViewModel.MessageInfo>

@{
    ViewData["Title"] = "Read Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Stuff to get: Messages from one user</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRead)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRead)
            </td>
            <td>
                <a asp-action="Message" asp-route-id="@item.MessageId">Message</a>
            </td>
        </tr>
        }
    </tbody>
</table>