@model IEnumerable<Community_ASP.NET.ViewModel.UserInfo>

@{
    ViewData["Title"] = "Index Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Stuff to get: name, last login, number of logins last month, number fo unread messages</p>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrOfUnreadMessages)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastLogin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrOfUnreadMessages)
            </td>
        </tr>
        }
    </tbody>
</table>
